name: Publish to internal testing channel in Google Play Console
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
jobs:
  pull_request_checks:
    name: Code checks on Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Setup variables in local.properties
        run: |
          echo "private_key=${{secrets.PRIVATE_KEY}}" > local.properties
          echo "private_access_token=${{secrets.PRIVATE_ACCESS_TOKEN}}" >> local.properties
          echo "key_alias=${{secrets.KEY_ALIAS}}" >> local.properties
          echo "key_password=${{secrets.KEY_PASSWORD}}" >> local.properties
          echo "store_password=${{secrets.STORE_PASSWORD}}" >> local.properties
      - name: Run unit tests
        run: ./gradlew test
      - name: Prepare release bundle
        run: ./gradlew bundleRelease
      - name: Publish to Google Play Console
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: co.daresay.gitwatch
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          track: wear:qa
          status: inProgress
#          inAppUpdatePriority: 2
#          userFraction: 0.33
#          whatsNewDirectory: distribution/whatsnew
#          mappingFile: app/build/outputs/mapping/release/mapping.txt
#          debugSymbols: app/intermediates/merged_native_libs/release/out/lib
